/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* Style The Dropdown Button */

.contact-form{
  max-width: 350px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  
}
.contact-form select{
  width: 100%;
  display: inline-block;
  border: solid 1px;
  border-radius: 4px;
}
.contact-form h4{
 margin-top: 15px;
}

.space-div{
  height: 100px;
}

.application_form{
  margin-left: 20px;
}

.application_form input{
  width: 100%;
}